<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @job.status %>
</p>

<p>
  <b>Price:</b>
  <%= @job.price %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
